body{
	font-family: sans-serif;
	margin: 0%;
	
}
#main-footer{
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 5px;
	font-size: 150%;
}


.HBT{
	background-color: black;
	color: white;
	
}


a{
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 20px;
	}
a:hover{
	background-color: grey;
	color: #ffa07a;
	padding: 20px;

}

.button {
	position: absolute;
	top:30px;
	right: 10px;

}
.button a:hover{
	padding: 30px;

}

.Enjoy{
	background-image: url('img/showcase.jpg');
	height: 1280px;
	width: auto;
	position: inherit;
	float: inherit;
	
}
.Enjoyy{
	position: relative;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translateX(-50%);
	font-size: 200%;
	color: #fff;
}

.blocki{
	float: left;
	width: 50%;
	font-size: 150%;
	text-align: center;
	background-color: coral;
	margin: 0;
	
	border:1px solid white;
	
	box-sizing: border-box;
}

.blockii{
	float: left;
	width: 33.33%;
	text-align: center;
	border:1px solid white;
	padding: 10px;
	box-sizing: border-box;
	font-size: 200%;
	background-color: #008b8b;
}
